{{define "head"}}
<style>

</style>
{{end}}


{{define "content"}}
<div class="column col-8 col-mx-auto">
  Full text search on questions with <code>hdr:"sentence part"</code>, search answers with <code>msg:"two words"</code>, or search for a specific user with <code>user:username</code>
</div>
<div class="column col-8 col-mx-auto">
    <form method="POST" action="/search">
        <div class="has-icon-left">
            <input type="text" class="form-input" placeholder="Search post content" name="query">
            <i class="form-icon icon icon-search"></i>
        </div>
    </form>
</div>

{{if .query}}
{{template "searchresults" .}}
{{else}}
<br/>
{{end}}
<!--    <h1 class="hello">This is content!!!!</h1>-->
<!--    <p>123 + 333 = {{call $.add 123 333}}</p>-->
<!--    <hr>-->
<!--    <p><a href="/page">Page render</a></p>-->
{{end}}

